language: node_js
node_js: 6
cache: yarn

notifications:
  email: false

script:
  - yarn run test && codecov

before_deploy: yarn build

deploy:
  local_dir: build
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
